form{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.champ_obligatoire{
    margin: 1em 0;
    font-size: 1.5em;
}
label{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
input,textarea{
    height: 3em;
    border: 2px solid var(--violet);
    margin-bottom: 1em;
}
.button_form{
    text-align: center;
    align-content: center;
    height: 3em;
    font-size: 1.3em;
    border-radius: 2em;
    margin: 1em 0;
}
.button_form_connexion{
    color: white;
    background-color: var(--violet);
}
.button_sincrire{
    color: var(--violet);
}
.button_sincrire:hover{
    color: white;
    background-color: var(--violet);
}